:root {
  /* colours */
  --color-text: #000000;
  --color-primary: rgba(127, 209, 40, 0.729);
  --color-secondary: #e83f3f;
  --color-dark: #9bbd98;
  --color-bg: #d5eec0d3;

  /* Fonts */
  --font-roboto: "Roboto";
}
